// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.iconaa {
    width: 30px;
    padding-right: 5px;
}

.padd {
    padding: 20px;
}
